name: Loop Test

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths-ignore:
      - "**/*.md"

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Run Infinite Loop Test
        run: |
          echo "Starting loop..."
          while true; do
            date
            echo "Loop is running..."
            sleep 60  # wait 1 min
          done
